[2019-05-09 03:04] yifeikong opened #2 "Is there any docs?"
thanks

[2019-05-27 14:01] ppawlak commented on #2
Hello! Thanks for asking!

There are no documentation yet because this wrapper is just far from being complete.
There is just an example on how to list all apps in your ITC account : https://github.com/Ponytech/appstoreconnectapi/blob/master/main.py

[2019-05-27 14:01] #2 closed

[2019-09-19 00:40] EricG-Personal opened #6 "Accept pull requests?"
I needed to get a list of devices associated with an account and your project provided a very nice base for doing that. I forked the project and added the support.

https://github.com/EricG-Personal/appstoreconnectapi/commit/12ae8f389e4ff787b9e8d8ff0be0fa9268362eba

 I think I got everything correct (or at least it worked for me). If you would like me to do a pull request, I can and you have one m

[2019-09-19 06:23] ppawlak commented on #6
Sure! Please do!

I just left a comment in your code.

[2019-09-19 06:23] #6 closed

[2019-09-19 17:15] EricG-Personal commented on #6
Thanks for the suggestion. I will make the update to the code.

As for the content_type thing, based on what I’ve read, they all probably
should be using application/vnd.api+json ... at least according to
jsonapi.org

It is all just json.

On Thu, Sep 19, 2019 at 2:23 AM ppawlak <notifications@github.com> wrote:

[2019-10-04 11:06] aman-leap opened #8 "Seems the `APIError` type is not exposed"
To handle `APIError` in the user code, probably need to expose the `APIError`  class ?

[2019-10-04 11:21] aman-leap commented on #8
Was able to handle via appstoreconnect.api.APIError

[2019-10-04 11:21] #8 closed

[2020-02-05 01:21] foundmason opened #10 "api.download_sales_and_trends_reports() sends error when specifying reportType"
When making a 'api.download_sales_and_trends_reports' call with reportType set to 'SUBSCRIPTION'. apple store connect replies with 'APIError: Please include the version parameter. The latest version for this report is 1_2.'

[2020-02-05 07:55] ppawlak commented on #10
Thanks for reporting this issue!
I'll have a look and fix it as soon as possible.

[2020-02-09 21:20] ppawlak commented on #10
@foundmason I had a look at this issue.

As an immediate workaround you can manually set this required version parameter in your call:

[code]

I'll try to automatically add it in a future release though.

[2020-02-10 02:28] foundmason commented on #10
Thanks. It worked. I wonder if calling different versions will be useful in the future... for now it seems to just break. I will eagerly await the future release :).

Cheers~

[2020-03-18 04:23] aman-leap opened #11 "The api seems to hang if the network is not available."
The api seems to hang if the network is not available. This is probably because there is no timeout specified when making the requests.get() call. Will it make sense to add an optional timeout parameter in the api.

[2020-03-18 09:22] ppawlak commented on #11
Hey @aman-leap,

Sure, a timeout makes sense, I'll add it to an upcoming release. Thanks for reporting the issue.

[2020-04-22 10:32] pruebasft opened #14 "APIError"
Hi,
I have an error when I run the script

this is my script **example.py**
[code]

The _key_file_ is in the same directory than _example.py_.
And this is the error

[code]

What is happening ?

Thanks

[2020-04-22 18:29] ppawlak commented on #14
I'm not really sure I can tell why.
In a previous version of the library we had a bug with token expiration. Which version are you using?

[2020-04-23 06:47] pruebasft commented on #14
It's this:
Version: 0.7.0

[2020-04-24 08:57] ppawlak commented on #14
This should be fine with the expiration bug then.

I had just made a test. The error you have can happen if either the _key_id_  or _issuer_id_ is wrong. Can you double check them?

[2020-05-16 19:24] rolflocher opened #15 "APIError: There were no sales for the date specified. Any way to get Units sold for a free app?"
Our app is free so there is no sales - $ sales data, but there is sales - # units data which I am interested in. I am having trouble getting the download_sales_and_trends_reports to return anything because of this. Also, perhaps the script shouldn't crash when there is a day without sales?

I ended up ditching the manual jwt encoding to try your wrapper because I couldn't set the authorization hea

[2020-05-16 19:26] rolflocher opened #16 "When adding filter 'reportType' or others to download_sales_and_trends_reports, invalid vendor number error."
Following your lead on another issue, I have been trying to get download_sales_and_trends_reports to work, but when I add any other filters to the example, I am told the vendor number is invalid. It doesn't mind the same vendor number when using the default filters.

[2020-05-18 21:19] ppawlak commented on #15
Thank you for reporting this issue.
I'll try to have a look at it as soon as possible.

[2020-05-18 21:20] ppawlak commented on #16
Same as #15, I'll have a look as soon as possible.

[2020-05-20 13:51] ppawlak commented on #15
@rolflocher I tried on my account and I am able to download reports even on days with no sales.

Here is the example call I do
`api.download_sales_and_trends_reports(filters={'vendorNumber': 'XXXXXX', 'frequency': 'DAILY', 'reportDate': '2020-03-18'}, save_to='report.csv')`

Can you paste the call you are doing and the python traceback you get?

[2020-05-20 13:54] ppawlak commented on #16
@rolflocher I can't find which filter makes the vendor number invalid. Can you post an example?

[2020-05-20 14:04] rolflocher commented on #15
[code]
But that is for last month, when I change the date to this month it works fine.

[2020-05-20 14:10] rolflocher commented on #16
I actually cannot reproduce this now, sorry about that. I should have saved my old code.

[2020-05-20 14:12] ppawlak commented on #14
I am closing this issue as I am not able to reproduce it.
Fell free to re-open it.

[2020-05-20 14:12] #14 closed

[2020-05-20 20:11] ppawlak commented on #16
So I am closing this issue.
Feel free to re-open it if you find how to reproduce the error.

[2020-05-20 20:11] #16 closed

[2020-05-20 20:18] ppawlak commented on #15
Well, then I think it means that you had no downloads on 2020-04-10.

You should call the API in a try / except block like this:

[code]

I am also closing this issue as raising an exception on errors is the desired behavior.
Let me know if you need more help though.

[2020-05-20 20:18] #15 closed

[2020-06-13 12:55] ppawlak commented on #10
Fixed by https://github.com/Ponytech/appstoreconnectapi/commit/b73d4314e2a9f9098f3287f57fff687563e70b28

[2020-06-13 12:55] #10 closed

[2020-06-16 11:37] dror-g opened #17 "Financial FINANCE_DETAIL report"
Hi, I don't think this is an issue with this wrapper (which is great! thanks!), but maybe you can shed some light:

I'm trying to download the detailed financial report by using `download_finance_reports` and specifying `reportType: FINANCE_DETAIL` as per the [docs](https://developer.apple.com/documentation/appstoreconnectapi/download_finance_reports),

But I'm getting `there were no sales for the

[2020-06-16 19:39] ppawlak commented on #17
Hi @dror-g,

The doc you linked also says

and

which sounds contradictory.

I tried and got the same result as you.
Ddid you expect anything particular with the  _FINANCE_DETAIL_ type?

[2020-06-16 21:33] dror-g commented on #17
Thanks for trying this @ppawlak ,
I was expecting a more detailed report.

If you browse to https://itunesconnect.apple.com/itc/payments_and_financial_reports/ ,
Click "Create Reports" at the top right, you can select type -
"All Countries and regions (Single File)" - which gives the same report as API "FINANCIAL" type,
"All Countries and regions (Detailed)" - the default option, which gives a ver

[2020-06-18 21:02] orenmazor opened #18 "on the topic of anonymous data collection"
my test suite uses requests_mock to control outgoing requests and this one surprised me when I integrated this library.

[code]

looking in the code: https://github.com/Ponytech/appstoreconnectapi/blob/b73d4314e2a9f9098f3287f57fff687563e70b28/appstoreconnect/api.py#L238-L255

I see I can disable this but you should make this opt in, or at least _extremely_ visible in your README.md. I'm using this

[2020-06-18 22:19] ppawlak commented on #18
Hey @orenmazor thank you for raising this subject.

When I implemented this I was really anxious about how people would react about this "feature" as I know many are using this library to deal with sensitive data. I eventually decided not to make it opt-out by default as I was afraid to get no data at all.

I added a note about it in the [changelog](https://github.com/Ponytech/appstoreconnectapi/c

[2020-06-19 12:12] ppawlak commented on #18
I had updated the README: https://github.com/Ponytech/appstoreconnectapi/commit/2c06c90af1ade33be5ad702aa88897b4e0289f41

I am leaving the issue open for now to get more feedback.

[2020-06-19 15:14] orenmazor commented on #18
@ppawlak I get what you're saying, and this _is_ after all your codebase. I appreciate that you added the notice. We're a little more privacy focused, so I actually forked your library and removed that stats collection.

quick comment on your changes: why do you need the issuer ID? if you truly have to collect it, please hash it with something other than sha1 as it is not cryptographically secure

[2020-06-20 08:02] ppawlak commented on #18
This is to know how many different organizations uses the library.
Thanks for tips, I'll switch to sha-256 in the next version.

[2020-07-14 13:53] SebaRossi94 opened #19 "Can't make request to api when passing variable as argument from file to create it"
Hello i've been testing the library for the first time, i was able to do some requests to fetch app info using it but i had some issues when trying to pass the key_id and issuer_id parameters from a file.

If i do this:

`ios_api = Api(key_id = "XXXXXXXX", key_file = APPSTORECONNECT_KEY_PATH, issuer_id = "XXXXXXXXXXXXXX")`

The library works fine, but if i do this:

[code]

The output is the follo

[2020-07-14 14:15] SebaRossi94 commented on #19
Seems that i had an issue with the files themselves. I had an extra line in each of them that when reading it was creating the wrong strings. Now this work as expected

[2020-07-14 14:15] #19 closed

[2020-07-14 19:25] SebaRossi94 opened #20 "Error when using APP api"
Helllo i've been trying to create a template with some info for all my published apps. I wanted to include:

- App name
- App build
- App version on production
- App version on testflight for external groups
- App version on testflight for appstoreconnect users
- Maybe some extra info but for starters that should be ok

So i coded the following:
[code]
which returns the following output

[code]
It

[2020-07-16 07:45] ppawlak commented on #20
You're right.
I'll try to fix this as soon as possible.

[2020-08-07 02:53] GClunies commented on #10
@ppawlak any chance you will update these changes on pypi anytime soon?

[2020-08-07 03:22] GClunies opened #21 "Bad formatting in api.download_finance_reports() calls"
When I run the following code
[code]

I get a poorly formatted `.csv` file. It looks like there is some strange text wrapping going on in the response from `api.download_finance_reports()`. The response always "wraps" at the `Total Rows` line. Both the reposnse and `.csv` show the same problem.

[code]

I am trying to work on a fix for this in my use case, but figured I would make you aware how it

[2020-08-07 13:41] ppawlak commented on #10
@GClunies I am planning to release a new version when I'll fix #20 (and maybe #21 as well). I hope to do this soon now, I was on vacation in July.

[2020-08-07 20:09] GClunies commented on #21
@ppawlak Did some more digging into this strangely formatted response. It actually looks like the response itself contains 2 separate "pieces" of data.

Where the 1st piece is the data below, which corresponds to the description under the heading **Financial report fields** in the [App Store Connect docs](https://help.apple.com/app-store-connect/#/devfa880063b). In my case this has 262 rows of dat

[2020-09-07 13:41] ppawlak commented on #20
Hello,

I have been investigating this error more carefully and actually it happens because the AppStoreVersion resource you want to access is new (in App Store Connect API 1.2) and not yet supported by this library.

cf: https://developer.apple.com/documentation/appstoreconnectapi/appstoreversion

Sorry for the rather long delay getting into this and I'll try to add all the 1.2 changes as soon as

[2020-09-07 14:09] ppawlak commented on #17
I am closing this issue as it does not seem related to our usage of the API.
Please re-open if you find how to fetch the  FINANCE_DETAIL.

[2020-09-07 14:09] #17 closed

[2020-09-07 14:57] ppawlak commented on #21
Hey @GClunies, thank you for this very detailed report and sorry for taking so long to reply.

I had a look at those report types and from what I saw the report downloaded by the API with  `'reportType':  'FINANCIAL'` is the  *All Countries or Regions (Single File)* described [here](https://help.apple.com/app-store-connect/#/dev716cf3a0d) and which you can manually download on App Store Connect.

[2020-09-09 11:22] ppawlak commented on #10
I just did, it is in version 0.8.1
Sorry for the long delay.

[2020-09-09 17:00] GClunies commented on #21
No problem @ppawlak. Here is what I think:

1. I wouldn't worry about Apple changing the file format (or API) since this will _almost certainly_ happen at some point in the future. No point in losing sleep over it, you will just have to deal with it when it happens. I've had similar occurrences with packages I develop/maintain. I would instead focus on providing the best end-user experience when u

[2020-09-09 17:27] GClunies commented on #21
If you don't mind @ppawlak, I can submit a PR fix for this if I have some time to play around with it later this week.

[2020-09-09 20:05] ppawlak commented on #21
I like your idea and the proposed function parameters. Please do!

[2020-09-11 11:42] ppawlak commented on #21
Thank you very much for reporting and fixing this issue @GClunies !

It is published on pypi : https://pypi.org/project/appstoreconnect/0.8.2/

[2020-09-11 11:42] #21 closed

[2020-10-02 09:55] jberkel commented on #18
there is a worrying trend of more and more libraries collecting data and/or performing unrequested update checks.

to get an approximation of usage data, wouldn't it be enough to simply analyze PyPI package download stats?

[2020-10-03 05:46] ppawlak commented on #18
This is indeed what I first looked at..
But I don't think it is very relevant: what if a single organization CI makes a dozen downloads per day? It also doesn't gives me what python versions are used or what are the most used functions.

[2020-10-12 10:30] AricWu opened #23 "Error when use "invite_user""
Hi when I use function "invite_user" ,I got error.
[code]
`visible_apps_relationship` is not defined . Looks like you forget to the last line.
And just delete `post_data['data']['relationships'] = {'visibleApps': visible_apps_relationship}` also can not invite user correctly.
I change the code to this and fixed this issue
[code]

[2020-10-20 09:42] ppawlak commented on #23
Thanks for the report and the fix @AricWu !

I have [commited this fix](https://github.com/Ponytech/appstoreconnectapi/commit/4d2716214105744e5016d1ff27be8cdb04aafd5b) and published a new version 0.8.3

[2020-10-20 09:42] #23 closed

[2020-10-27 21:34] lxjhk opened #24 "Include Relationship Data"
How do I add the `include` header in my request so that the response from Apple will have the relationship data?

For example, I am getting all the builds of a particular app by using the following:
https://developer.apple.com/documentation/appstoreconnectapi/list_builds#url

[code]

I'd like to have the `appStoreVersion` relationship data included in the response so that I can access it by callin

[2020-11-01 09:47] ppawlak commented on #24
Thanks for pointing this out @lxjhk

The `include` parameter is not yet supported.  I add this to the TODO list.

In the meantime you should be able to fetch the build's appStoreVersion with `b.appStoreVersion()` but I just tried and it is also failing. I'll fix this as soon as possible and let you know.

[2020-11-13 23:38] GClunies opened #26 "APIError should expose the HTTP status code returned by App Store Connect API response"
Happy to take a stab at this @ppawlak.

## Issue Description
Ideally, when an `APIError` exception is [raised](https://github.com/Ponytech/appstoreconnectapi/blob/ddc8f13d1db2c4dea8c87949e749cb2b5e883568/appstoreconnect/api.py#L219-L223), the `APIerror` should also expose the HTTP status code as defined in the Apple [docs](https://developer.apple.com/documentation/appstoreconnectapi/interpreting_a

[2020-11-15 07:41] ppawlak commented on #26
Thanks for reporting this @GClunies . It is a very valid point.

I'll review your PR as soon as possible.

[2020-11-16 19:33] ppawlak commented on #26
@GClunies I have merged your PR and pushed a [small modification](https://github.com/Ponytech/appstoreconnectapi/commit/a92b1e9332c2dedf4176bf0f90f25305cf52dcce) : the code is stored as an int (rather than converting it when checking for its value) and I renamed the field `status_code` (rather than just code)

I'll make a PyPI release soon.

Thanks again for this addition.

[2020-11-16 19:33] #26 closed

[2020-11-16 19:34] GClunies commented on #26
Thanks @ppawlak!

[2020-11-24 10:33] y500 opened #28 "能否支持一下提交审核相关的接口"
做的很棒，能否抽时间支持一下提交审核相关的接口吗

[2020-11-24 10:40] ppawlak commented on #28
Can you please write your issue in English so most people can understand it?

[2020-11-24 10:40] #28 closed

[2020-11-27 10:04] zrx89757 opened #29 "can't read localization what's new"
![image](https://user-images.githubusercontent.com/15121098/100436010-b8b77780-30d9-11eb-9dd4-aa8e5acd79b9.png)

`def read_app_info():
    api = Api(AUTH_KEY_ID, AUTH_FILE_PATH, AUTH_ISSUER_ID, submit_stats=True)
    apps = api.list_apps()
    for app in apps:
        print(app.name, app.sku)
    pre = api.list_beta_build_localizations()
    x = {v.locale: v.whatsNew for v in pre}
    print(x)`

w

[2020-11-28 09:29] ppawlak commented on #29
@zrx89757 Thanks for pointing this out.

What your code is requesting is localization for *beta* builds.
What you screenshot shows is localization for a *live* version of your app. This info is available in the _AppStoreVersionLocalization_ object described here:
https://developer.apple.com/documentation/appstoreconnectapi/appstoreversionlocalization/attributes

This was added in App Store Connect

[2020-11-28 20:38] ppawlak commented on #26
Version 0.8.4 with your PR is on PyPI : https://pypi.org/project/appstoreconnect/0.8.4/

[2020-12-01 01:11] zrx89757 commented on #29
Thanks for your reply. Because of my mistake, I uploaded a screenshot in Chinese. Please see the new screenshot below. Currently, what I want to do is a tool that can be used to upload What's new for multiple languages. Because my App is adapted to 12 languages, every time a new version is released, manually uploading What's new is a painful task. The problem is, I’ve been puzzled for a long time

[2020-12-04 09:51] yangcaixing opened #30 "How to modify user roles"
Hi Pony,
  I want to modify an existing user's roles (role and visibleApps),  not invite new user.  I look from appstore api document, it contain "Modify a User Account" api, but I don't find the related code from your api.py file. would please have a check, thanks very much.

[2020-12-04 13:14] ironslob commented on #18
This is an extremely worrying addition to any project, and certainly doesn't feel good. It certainly wasn't obvious to me that this would be included.

Would you consider making this opt-in? From a community and privacy perspective the "opt-in by default" approach leaves a sour taste in my mouth. Even the GDPR highlighted that this is a poor approach.

I can understand the desire for some analytic

[2020-12-04 20:39] ppawlak commented on #18
@ironslob Thanks for your feedback and I totally understand your point.

Making this opt-out by default had been mentioned already but my feeling is, this is far different from a desktop app were you have a popup asking for permission at first launch. I may be wrong but I think we'd would just get no analytics at all here.

Anyway, I am just considering to remove this "feature" completely now, the

[2020-12-06 19:24] ppawlak commented on #30
@yangcaixing Thanks for reporting this. You're right modifying and removing a user account are missing from the library, I am working on it to add them.

[2020-12-07 06:01] yangcaixing commented on #30
Thanks pony, I'm looking forward to your update.

[2020-12-08 20:51] ppawlak commented on #30
@yangcaixing I have just made a new commit that allows to modify a user's role. You can try with:

[code]

I still have to add support for updating the _visibleApps_

[2020-12-08 21:17] ppawlak commented on #30
Well, I've also handled *visibleApps* :

[code]

Let me know if everything works as expected before I close this issue.

[2020-12-09 07:47] yangcaixing commented on #30
Hi pony,
  I have update appstoreconnect to v0.8.4, run the code have bellow errors. and I also check from the library api.py file, there no modify_user_account function existed, could you please check again, thanks.

Traceback (most recent call last):
  File "appstore.py", line 4, in <module>
    from appstoreconnect import Api, UserRole
ImportError: cannot import name 'UserRole'

Traceback (most

[2020-12-09 13:16] ppawlak commented on #30
The _modify_user_account_ endpoint is not yet included in a release published on PyPI. You have to checkout this repository to test it.

[2020-12-09 13:53] yangcaixing commented on #30
Hi pony, I have checkout the repo and test,  it works now, thanks very much.

[2020-12-09 19:53] ppawlak commented on #30
Great! I am closing the issue then. I'll publish a new version including it soon.

[2020-12-09 19:53] #30 closed

[2020-12-10 10:28] yangcaixing commented on #30
Hi Pony,
   BTW, I want to list a use's visibleApps, to check if user have some specific app's roles, but I don't find the visibleApps attribute under apple User.Attributes, could you help check it , thanks.

[2020-12-10 16:57] ppawlak commented on #30
Hi @yangcaixing,

BTW, my name is not Pony 😄 I am Patrice.

You should be able to get a user's visible apps with: `user.visibleApps()` but it currently doesn't work. I have to implement the VisibleApps resource (https://developer.apple.com/documentation/appstoreconnectapi/user/relationships/visibleapps)
You can open a separate issue for this.

[2020-12-11 01:59] yangcaixing commented on #30
Hi Patrice,
   I'm sorry for call your name wrong, and I will open a new issue for this, thanks.

[2020-12-11 02:03] yangcaixing opened #31 "Request for getting user.visibleApps"
Hi Patrice,
     As request, I open this issue for getting user's visible apps, thanks for your great help.

[2020-12-17 21:13] ppawlak commented on #31
I have just pushed a commit (https://github.com/Ponytech/appstoreconnectapi/commit/0c621cc82666ad28b785c36a957707279a3fc159) on master that should let you do this:

[code]

@yangcaixing can you confirm this works for you?

[2020-12-18 10:38] yangcaixing commented on #31
Hi Patrice,  it works, thanks.

[2020-12-21 08:39] ppawlak commented on #31
Great!

[2020-12-21 08:39] #31 closed

[2020-12-21 10:34] ppawlak commented on #24
I just created a branch to start support for App Store Connect API 1.2 : https://github.com/Ponytech/appstoreconnectapi/tree/api-1.2

First commit is adding support for _appStoreVersion_

You can checkout this branch and do something like this:

[code]

@lxjhk Can you confirm it works for you?

[2021-01-06 11:16] Datavoore opened #33 "AttributeError: 'str' object has no attribute 'decode'"
Hello,

I have been using this library without issue for a few months. I started encountering an issue since this january 1st.
I'm using the same exact environment and credentials but here is the stacktrace of the exception I am now running into :

AttributeError: 'str' object has no attribute 'decode'
  File "batch_reporting.py", line 48, in lambda_handler
    issuer_id)
  File "appstoreconnect/a

[2021-01-06 16:59] ppawlak commented on #33
I just tested (with Python 3.8 though) it still works here.

Can you post the result of your `pip freeze` ?

[2021-01-06 17:12] ppawlak commented on #33
I suspect your version of PyJWT not being correct. It should be 1.6.4

I just tested with the latest version 2.0.0, and `jwt.encode()` retruns an `str` whereas 1.6.4 returns `bytes`

[2021-01-07 08:56] Datavoore commented on #33
Yes I just came to the same conclusion. Thanks for taking the time ! Are you interested in PR to protect against this behavior from PyJWT ?

[2021-01-08 07:50] ppawlak commented on #33
Sure!
https://github.com/Ponytech/appstoreconnectapi/blob/master/requirements.txt pins PyJWT to 1.6.4 but https://github.com/Ponytech/appstoreconnectapi/blob/master/setup.py#L18 does not pin the dependency.

I am sure there is some way to take dependencies from `requirements.txt` instead of writing them twice.

[2021-01-08 12:59] ppawlak commented on #33
After some research I found out you can put your dependencies in `setup.py` and just put a simple dot in `requirements.txt`.
The other way around (parsing the equirements.txt in setup.py) is not recommended.

I will do this shortly.

[2021-01-08 18:35] Datavoore commented on #33
Oh that's why !
Indeed that's what I saw too.
That's nice, I will be able to get rid of the fixed version in my code. Thanks for your responsiveness !

[2021-01-09 13:31] ppawlak commented on #33
I have just published version 0.9.0 which pins the library dependencies in setup.py, solving this issue.

Thanks for reporting it!

[2021-01-09 13:31] #33 closed

[2021-01-14 15:18] DrPolloLoco opened #34 "How can i get the analytics metrics data?"
I don't see the function in the library to get perfPowerMetrics

[2021-01-14 16:24] ppawlak commented on #34
Thanks for reporting it.

[perfPowerMetrics ](https://developer.apple.com/documentation/appstoreconnectapi/perfpowermetric) is available in App Store Connect API 1.2+ which is not supported yet.

There is a branch https://github.com/Ponytech/appstoreconnectapi/tree/api-1.2 where I started the work. I'll try to add this as soon as possible.

[2021-02-04 20:06] DrPolloLoco commented on #34
do you know if somehow i can connect me with app analytics? I need installs and uninstalls data.

[2021-02-04 20:19] ppawlak commented on #34
For installs your can download sales reports, documented here : https://developer.apple.com/documentation/appstoreconnectapi/download_sales_and_trends_reports
This is supported by the current version of this library, see the README for an example.

I don't think this is possible at the moment.
The list of things available through the App Store API is listed here: https://developer.apple.com/docume

[2021-02-09 21:40] ppawlak commented on #34
I started playing around with the https://api.appstoreconnect.apple.com/v1/apps/{id}/perfPowerMetrics endpoint and here is an example of the JSON returned:

[perfPowerMetrics.txt](https://github.com/Ponytech/appstoreconnectapi/files/5954411/perfPowerMetrics.txt)

@DrPolloLoco I am not sure I can do anything with those data but returned them raw. Will this work for your use case? Do you know how to

[2021-02-19 13:42] DrPolloLoco commented on #34
I had been confused, i thought that with powerMetrics could have the installs and uninstalls metrics. Ty for your help

[2021-02-19 13:42] #34 closed

[2021-02-20 20:17] josepanguera opened #35 "Avoid pinned dependencies"
On 8de43ea the dependencies were pinned in `setup.py`. The problem with that is that now is now longer possible to install this library and, for instance, the latest release of `requests` alongside.

Since I believe this project has the vocation of being a library and not a standalone project I suggest to instead of pinning the dependencies just force minimum versions*.

I'd be very happy to do a

[2021-02-20 22:57] ppawlak commented on #35
Hi @josepanguera, thanks for reporting this issue.

By "installing this library" do you mean system wide? I have never had this issue as I always use virtualenvs. What is your use case?
But anyway I don't see any reasons for setting only a minimum version dependency on requests. Please submit a PR

[2021-02-21 21:32] josepanguera commented on #35
No, I meant inside a virtualenv but within a project that does uses other libraries. I explain myself badly :)

Anyway, I created the pr on #36.

[2021-02-22 15:26] ppawlak commented on #35
OK make sense!
I'll merge the PR, I just let a comment about the cryptography package.

[2021-02-26 07:06] ppawlak commented on #35
PR merged, thank you @josepanguera

[2021-02-26 07:06] #35 closed

[2021-02-26 07:18] ppawlak opened #37 "Support PyJWT>=2.0"
Main issue is starting with version 2.0.0 `jwt.encode()` retruns an `str` whereas older version returns `bytes`
If not too complex we should support both.

See this issue: https://github.com/Ponytech/appstoreconnectapi/issues/33#issuecomment-755434912

[2021-03-29 15:24] fredyshox opened #38 "RecursionError when accessing relationships on Build resource"
When I try to get `preReleaseVersion` from `Build` resource I get:

[code]

I suspect this is caused by `Build` not having `relationships` static field, like the other ones.

Python 3.9.2, Version: 0.9.0, I think it was working fine on 0.8.X

[2021-04-01 12:55] ppawlak commented on #38
@fredyshox Thanks for reporting the issue.
I had successfully reproduced it. I'll try to fix it as soon as possible.

[2021-04-19 11:57] ppawlak commented on #38
@fredyshox Sorry for the delay. You were right, the `Build` resource was missing the `relationships` attribute.

I just pushed a fix (https://github.com/Ponytech/appstoreconnectapi/commit/0916ac75790b13cf6c89617209a1a6c2db1f16d1).
Do you mind checking it out and confirm everything works for your use case?

[2021-06-18 12:21] louisguitton commented on #35
hi @ppawlak could you cut a release on pypi with this change please 🙏

[2021-06-18 12:30] ppawlak commented on #35
Wow, I didn't realized it was not released yet.
I'll do it shortly.

[2021-06-19 12:33] ppawlak commented on #35
@louisguitton
Version 0.9.1 including this fix is available : https://pypi.org/project/appstoreconnect/0.9.1/

Can you confirm this fixes dependencies on your project?

[2021-06-19 12:34] #38 closed

[2021-06-19 15:02] louisguitton commented on #35
it does :) thank you @ppawlak for the quick response !

[2021-08-18 14:45] #11 closed

[2021-09-28 10:16] TE-YutakaTentaku opened #40 "Proxy support"
Do you have a plan to support proxy setting so that the requests can reach via proxy server?
I didn't try that yet by using your tool but I noticed that I needed to set the proxy to request in my environment as below.

`response = requests.get(url, headers=hed, proxies=proxyDict) `

If you have this option, would be great. Thanks.

[2021-10-05 16:25] ppawlak commented on #40
Hi @TE-YutakaTentaku

This is indeed a legitimate request.
I'll add this as soon as possible.

[2021-10-05 16:58] ppawlak commented on #40
Sooner is better than later 😄
I have made a commit that allows HTTP and HTTPS proxy support (no SOCKS proxy here)

You can try with:
[code]

Let me know if it works for you and I'll publish a new version on PyPI,

[2021-10-06 00:46] TE-YutakaTentaku commented on #40
@ppawlak Super! thanks. will check.

[2021-10-27 03:37] mybluedog24 opened #41 "Provide a properly configured and signed bearer token, and make sure that it has not expired."
I just installed this yesterday and it worked fine. But today it starts throw error "Provide a properly configured and signed bearer token, and make sure that it has not expired. Learn more about Generating Tokens for API Requests https://developer.apple.com/go/?id=api-generating-tokens".

At the end I found out it maybe caused by the expiration time. When I changed it from 20 to 15, it works agai

[2021-11-02 14:20] ppawlak commented on #41
Indeed you need to have your computer clock with a correct time otherwise it will cause issues.
I will add this requirement to the README, thanks for reporting it.

[2022-02-01 11:29] lastseenjustnow opened #42 "ImportError: sys.meta_path is None, Python is likely shutting down"
I guess there's a problem that Api class requesting the data from the AppStore, but in the end it doesn't close the connection opened. So I'm facing the issue:
[code]

Import gc; gc.collect()  didn't really help.

Has anyone faced this issue?

[2022-02-01 11:31] #42 closed

[2022-02-01 11:56] lastseenjustnow commented on #42
Apparently, an error is pretty much generic.

[2022-02-05 03:54] blesliecan opened #43 "When listing provisioning files I cannot acces the bundleId"
for pro in api.list_profiles():
	print(pro.bundleId)

results in:
  File "appletest.py", line 48, in <module>
    print(pro.bundleId)
  File "/Users/leslie/.pyenv/versions/3.7.7/lib/python3.7/site-packages/appstoreconnect/resources.py", line 16, in __getattr__
    if item in self.relationships:
  File "/Users/leslie/.pyenv/versions/3.7.7/lib/python3.7/site-packages/appstoreconnect/resources.py", l

[2022-02-06 09:52] ppawlak commented on #43
Hi @blesliecan

Thanks for reporting this issue.
It doesn't seem that `bundleId` is a valid field on the `Profile` resource. See: https://developer.apple.com/documentation/appstoreconnectapi/profile/attributes

It should not raise a `RecursionError` though, but an `AttributeError`. I'll fix this.

[2022-02-06 21:14] blesliecan commented on #43
You are right, the bundeId in under profile relationships: https://developer.apple.com/documentation/appstoreconnectapi/profile/relationships.

[2022-02-06 21:14] #43 closed

[2022-02-07 07:51] ppawlak commented on #43
I made [the fix](https://github.com/Ponytech/appstoreconnectapi/commit/1c4cac1cd1d84a7189e3a9e8d2c23d62bbc0a7fa) to return the proper error message and just released version 0.10.0

[2022-02-24 09:27] kiliankoe opened #44 "Usage with Python 3.9"
Hi, I'm currently hacking on a little project that uses Python 3.9 and I'm having issues trying to use this library. It looks like it depends on the last 2.x version of cryptography, which in turn appears to be incompatible with Python 3.x (if I'm reading the metadata on pypi correctly [here](https://pypi.org/project/cryptography/2.9.2/)). On trying to install appstoreconnectapi using pipenv local

[2022-02-27 21:08] ppawlak commented on #44
@kiliankoe thanks for reporting this issue.

It should work with python 3.9, this is the version I am using and I have _cryptography_ version 2.9.2 installed in my virtualenv.
What pip version do you have? Can you try to update it?

[code]

[2022-02-28 14:47] kiliankoe commented on #44
pip reports as being the latest version (22.0.3). I think there might be another underlying issue here. On trying to manually install cryptography==2.9.2 inside my virtual environment it's trying to build it from source (apparently there's no prebuilt binary available for M1 Macs?). On doing that it fails to find OpenSSL headers, which is installed and available.

This definitely isn't an issue wi

[2022-02-28 14:47] #44 closed

[2022-02-28 15:18] ppawlak commented on #44
Indeed this is an issue installing the cryptography module and the error message was not helpful in the first place.
I'm not on Mac and can't help here, good luck!

[2022-03-17 15:57] andrew-forbes-93 opened #45 "Un-hardcode Finance reportType"
https://github.com/Ponytech/appstoreconnectapi/blob/1c4cac1cd1d84a7189e3a9e8d2c23d62bbc0a7fa/appstoreconnect/api.py#L639

Hi all, not sure if there's any activity here anymore. Thank you for this API! I'd like to use the download_finance_reports function to download FINANCE_DETAIL reports but the value is hardcoded as just FINANCE.

Just curious if there's a reason this is the case? Maybe that was

[2022-05-18 13:12] XoliloX opened #47 "Basic question on usage"
Dear,

Sorry to bother with such a question (I'm a lost R user here) but after after compiling the authentification, I get

[code]
Also, trying to get reporting into PyCharm, I need the `Vendorid` which is not an obvious parameter to me (where is it?).

Thanks in advance for your help !

Best,
D.

[2022-05-19 10:22] ammu2288 opened #48 "Is there a way to read the error when the API fails?"
Is there a way to read the error when the API fails?

I am using the APIs to get user info. But it randomly fails and throws the following error:
" appstoreconnect.api.APIError: An unexpected error occurred on the server side. If this issue continues, contact us at https://developer.apple.com/contact/."

So the API calls fail without any warning or returning any reason.

Adding how to print the er

[2022-06-15 06:48] #47 closed

[2022-06-15 06:49] XoliloX commented on #47
Limitations are related to Appstoreconnect, not to this package.

[2022-06-15 12:50] ppawlak commented on #47
Hi,

Sorry for not replying before, and thanks for marking the issue as closed if it's related to this package 😄

[2022-06-15 12:53] XoliloX commented on #47
Hi,

No worries, thanks a lot !!!

Best,
D.

[2022-06-16 20:24] ppawlak commented on #48
Hello,

I am sorry but the error message you mention is the exact error message sent by Apple. Please contact them at the provided link if you want more info on the error.

[2022-06-16 20:42] ppawlak commented on #45
Hi,

Sorry for this very late reply, I should have replied earlier. This project this still active when I'm not busy elsewhere.

To answer your question, the _FINANCE_  value is not hard-coded but provided as a default value. You can pass an other reportType like this:

`api.download_finance_reports(filters={'vendorNumber': '123456', 'reportDate': '2021-10', 'reportType': 'FINANCE_DETAIL'}, save_t

[2022-06-16 20:58] andrew-forbes-93 commented on #45
Ha! Thank you, I'd forgotten about this. I think I eventually discovered
that I could do exactly what you posted.

Thanks again, this library has saved me a lot of time :)

On Thu, Jun 16, 2022 at 2:42 PM ppawlak ***@***.***> wrote:

[2022-06-17 07:53] ppawlak commented on #45
I'm really glad to hear that 😃

[2022-06-17 07:53] #45 closed

[2022-06-30 19:19] ammu2288 commented on #48
Hi,

Attached is the screenshot of the details Apple needs to help me identify the issue.

They need the following details from the error.
• "X-Request-ID" value from the header of the response
• “ID” provided in the error response
• “Code” provided in the error response

Is there a way I can extract these details from the error I am getting back? Any example usage?

![Screenshot 2022-07-01 at 12

[2022-07-10 21:22] ppawlak commented on #48
Hi @ammu2288

Thanks for pointing out those info which are returned by Apple API and should be exposed by this library.  I have re-opened this issue and will complete the APIError exception class.

I'd been able to reproduce an error and extract the ID and Code from the error response but I can't see an X-Request-ID from the response headers.

Can you share an example of API usage that fails?

[2022-07-14 03:34] ammu2288 commented on #48
@ppawlak , just one more follow up question related to this. Does these APIs return anything? If they return success / error then it would be easy to handle them. Is there a way I can see what it returns? I dont see how I can read the return values from the examples.

[2022-07-15 09:05] ammu2288 commented on #48
FYI, Looks like whenever a `fetchPage()` call is made in `api.py`, either by `__len__` / `__next__`, the exception is occurring. Looks like whenever I am trying to loop the users returned from `list_users` api or try to check the length of the users, this is happening.
Added screenshots for your reference

Screenshot 1:
![Screenshot 2022-07-15 at 2 27 08 PM](https://user-images.githubusercontent.c

[2022-07-15 21:47] ppawlak commented on #48
@ammu2288

I've just made a change in branch [here ](https://github.com/Ponytech/appstoreconnectapi/tree/api-errors-rework) that let you retrieve the whole error details sent by Apple.  For example, you can do:

[code]

If an error occurs on the Apple API this will print a dict with, among other things, an ID and a code.
Can you give it try?

By the way, I was not able to reproduce the error you m

[2022-07-17 13:00] ammu2288 commented on #48
@ppawlak , thanks a lot for quick response. Will check it. Greatly Appreciated. :)

Related to the `__len__` and `__next__` issue, below is the code I am using.

` print("Checking user for updating role..")
   users = self.appconnect_api.list_users(filters={'username': "sample@abc.com"})

   if not users:
       print("User not present to update..")
   else:
       print("User present to update")`

[2022-08-23 00:31] ammu2288 commented on #48
@ppawlak , I was able to use your [branch](https://github.com/Ponytech/appstoreconnectapi/tree/api-errors-rework) to get more info on the error.

Should I be importing as
`from appstoreconnect import Api, UserRole, APIError` ?

When I do this , I get the following error.
`from appstoreconnect import Api, UserRole, APIError`
`ImportError: cannot import name 'APIError'`

Any idea why?

[2022-09-20 04:27] ammu2288 commented on #48
Hi @ppawlak ,

I investigated to see that when creating the jwt payload, **iat** is missing and is not being sent, according to the apple docs.

https://developer.apple.com/documentation/appstoreconnectapi/generating_tokens_for_api_requests

This is resulting in a invalid token error (unauthorized error) as below. I added the **iat** locally and seems like the issue is fixed.

<img width="1187" al

[2022-10-27 17:23] MrChadMWood commented on #18
@ppawlak

I understand this concern, and your post about no nagware like a desktop app would have is valid.
Have you considered making `dont_collect_stats` a required parameter? You could even hardcode a small print() statement on every run if disabled, advising that they are not supporting the project by this manner.

[2022-11-20 15:45] ppawlak commented on #18
@MrChadMWood  thanks for the suggestion, a required parameter makes sense.
I'll see if I make this change or completely remove this "feature" as mentioned earlier. I had not been active on the development recently but I hope to get back on it soon.